
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #DEDEDE;
}

.section{
    display: flex;
    justify-content: center;
}
.header{
   
   font-family: Arial;
   
    

}

.container{
    width: 80%;
    margin: 0;
    padding: 0;

}

.title{
    font-size: 40px;
    
   
}



.btn-add {
    color: #fff;
    text-decoration: none; 
    user-select: none; 
    background: gray;
    padding: .7em 1.5em;
    max-width: 10%;
    text-align: center;
    margin-top: 3vh;
    border: 3px solid black;
   
}

.btn-add:hover { background: rgb(250, 74, 51); } 
.btn-add:active { background: rgb(152,15,0); } 

